.button.success {
  background: #60ae4d;
  color: #fff; }
  .button.success:focus, .button.success:hover {
    color: rgba(255, 255, 255, 0.6); }
    .button.success:focus:disabled, .button.success:focus.disabled, .button.success:hover:disabled, .button.success:hover.disabled {
      color: #fff;
      background: #60ae4d; }
  .button.success.outline:hover {
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.4); }
  .button.success.outline, .button.success.outline:disabled:hover, .button.success.outline.disabled:hover {
    color: #60ae4d;
    border-color: #60ae4d;
    background: none; }
.button.error {
  background: #f34248;
  color: #fff; }
  .button.error:focus, .button.error:hover {
    color: rgba(255, 255, 255, 0.6); }
    .button.error:focus:disabled, .button.error:focus.disabled, .button.error:hover:disabled, .button.error:hover.disabled {
      color: #fff;
      background: #f34248; }
  .button.error.outline:hover {
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.4); }
  .button.error.outline, .button.error.outline:disabled:hover, .button.error.outline.disabled:hover {
    color: #f34248;
    border-color: #f34248;
    background: none; }
.button.warning {
  background: #fed443;
  color: #fff; }
  .button.warning:focus, .button.warning:hover {
    color: rgba(255, 255, 255, 0.6); }
    .button.warning:focus:disabled, .button.warning:focus.disabled, .button.warning:hover:disabled, .button.warning:hover.disabled {
      color: #fff;
      background: #fed443; }
  .button.warning.outline:hover {
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.4); }
  .button.warning.outline, .button.warning.outline:disabled:hover, .button.warning.outline.disabled:hover {
    color: #fed443;
    border-color: #fed443;
    background: none; }
  .pagination{
      margin:-3px 0px 20px 0px; 
      font-size:14px;}